@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$c-main: #5B5B5B;
$c-border: #C1C1C1;
$c-active: #3C9C41;
$c-error: #D23737;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $c-main;
  font-size: 16px;
  background: #E5E5E5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 570px;
  height: 100%;
  background: #fff;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  margin: 0 auto;
  padding: 29px 35px 35px;

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin: 24px auto 5px;
  }
  
  &__form {
    display: flex;
    text-align: start;
  }
}

.form {
  &__label {
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 12px;
  }
  
  &__radio {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;

    &-btn input[type=radio] {
      display: none;
    }
    
    &-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 156px;
      height: 100px;
      cursor: pointer;
      border-radius: 16px;

      &--default {
        color: $c-main;
        border: 1px solid $c-border;
        transition: all 0.3s;
      }
      
      &--checked {
        color: $c-active;
        border: 1px solid $c-active;
        transition: all 0.3s;
      }

      &__icon {
        margin-bottom: 8px;

        &--default {
          fill: $c-main;
          transition: fill 0.3s;
        }
        
        &--checked {
          fill: $c-active;
          transition: fill 0.3s;
        }
      }
    }
  }

  &__inputs {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }

  &__input {
    width: 500px;
    height: 70px;
    outline: none;
    border-radius: 16px;
    padding: 24px 25px;
    border: 1px solid $c-border;

    &:focus {
      border: 1px solid $c-active;
    }

    &-norm {
      border: 1px solid $c-border;
    }
    
    &-err {
      border: 1px solid $c-error;
      color: $c-error;
    }

    &-error {
      color: $c-error;
    }
    

    &-icon {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 85px;
      right: 24px;
      z-index: 100;
      cursor: pointer;
      background: inherit;
      border: none;
    }

    &-btn {
      width: 500px;
      height: 70px;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      background-color: $c-active;
      border: none;
      border-radius: 16px;
      margin-top: 20px;
      margin-bottom: 16px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #4DB252;;
      }
      
      &:active {
        background-color: #318636;
      }
    }
  }
}

.footer {
  &__input-login {
    margin-bottom: 16px;
  }

  &__input-link {
    font-weight: 700;
    color: $c-active;
  }
  
  &__input-link--modal {
    position: relative;
    font-weight: 700;
    color: $c-active;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $c-active;
    }
  }
}

@media (max-width: 550px) {
  .form {
    &__radio-btn {
      width: 90px;
      height: 80px;
    }
    &__input {
      width: 308px;
      height: 50px;

      &-btn {
        width: 308px;
        height: 50px;
      }

      &-icon {
        top: 75px;
        right: 17px;
      }
    }
  }
}

@media (max-width: 350px) {
  .form {
    &__radio-btn {
      width: 80px;
      height: 70px;
    }
    &__input {
      width: 270px;
      height: 45px;

      &-btn {
        width: 270px;
        height: 45px;
      }
    }
  }
}