@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$c-main: #5B5B5B;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $c-main;
  font-size: 16px;
  background: #E5E5E5;
}
