@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.form__radio {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.form__radio-btn input[type=radio] {
  display: none;
}

.form__radio-btn label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 156px;
  height: 100px;
  cursor: pointer;
  border-radius: 16px;
  border: 1px solid #C1C1C1;
}

.icon {
  margin-bottom: 8px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}